<ng-template ngIf="load">
  <div class="cardProduct" *ngFor="let product of products" >
    <mat-card>
      <div>
        <img [src]="product.image" mat-card-md-image />
      </div>

        <div>
          <mat-card-title>
            <h1>{{ product.title }}</h1>
           </mat-card-title>
           <mat-card-subtitle>
             <h3> Description:{{product.description}} </h3>

           </mat-card-subtitle>

         <mat-card-content>
           <h3>Price: {{ product.price }}€</h3>
           <h3>Category: {{ product.category |titlecase}}</h3>
           <h3>Rating: {{ product.rating.rate }}/5</h3>
           <h3>Numbers: {{product.rating.count}}</h3>
           <h3>ProductID: {{product.id}}</h3>
         </mat-card-content>

        </div>


    </mat-card>
  </div>
</ng-template>
