mat-card{
  background-color: white;
  margin-bottom:2.5%;
  border:1px solid black;
  mat-card-title,mat-card-subtitle{
    text-align: center;
  }
  mat-card-subtitle{
    color:black;
    padding: 2.5% 0;
  }


}


