/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(241, 241, 241);
}
.cardProduct {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5%;
  div {
    flex: 1;
    padding:7%
  }
}

img {
  margin: 0 auto;
  margin-bottom: 5%;
  width: 80%;
}
.products {
  cursor: pointer;
}

mat-card {
  padding: 2.5%;
  margin-top: 10%;
  width: 100%;

  mat-card-title {
    text-align: center;
  }
}

mat-card-content {
  text-align: center;
}
