/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(241, 241, 241);
}
.cardProduct {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5%;
  div {

    padding:7%
  }
}

img {
  margin: 5% auto;

  width: 80%;
}
.products {
  cursor: pointer;
  width: 300px;
  height: 400px;
}
.products:hover{
  background-color: #008b8b;
  color:yellow;
  mat-card-title{
 color: #FFFFFF;
  }
  mat-card-content{
    color:ghostwhite
  }
}

mat-card-title{
  color:brown
}



mat-card-content {
  text-align: center;
  color:olive
}
@media screen and (max-width: 476px){
.products{
  width: 250px;

}
}


